@import "../../shared/_color.scss";
@import "../../shared/_mediaQuery.scss";

.card-detail {
  width: 600px;
  min-height: 500px;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
  @include mobile {
    width: 90%;
    margin: 0 auto;
  }
  .card-detail__wrapper {
    max-height: 600px;
    overflow-y: auto;
    padding: 30px;
  }
  .policy {
    .policy__title {
      line-height: 1.2em;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
      text-align: justify;
      word-break: break-all;
    }
    .policy__info {
      line-height: 1.2em;
      display: block;
      margin-bottom: 10px;
      text-align: justify;
      word-break: break-all;
    }
  }
}
